{% extends "base.html" %}

{% block content %}

<h1>Stores</h1>

{% for store in stores %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{store.name}}</h5>
        <p class="card-text">{{store.postcode}}</p>
        <p>
            <em>{{store.latitude}},{{store.longitude}}</em>
        </p>
    </div>
</div>
<hr />
{% endfor %}

{% endblock %}